<div class="page">
    <div class="page__hd">
        <h1 class="page__title">北京bi相关</h1>
        <p class="page__desc">使用同猜你喜欢，使用业务场景不同</p>
    </div>
    <div class="page__bd">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">曝光上报正确调用方式：</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <p class="weui-media-box__desc"><pre><code class="language-javascript">wa('biRank',{
    action: 0, // 代表曝光
    扩展1: '111',
    扩展2：'222',
    ......
});</code></pre></p>
                </div>
            </div>
        </div>
        
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">点击上报正确调用方式：</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <p class="weui-media-box__desc"><pre><code class="language-javascript">wa('biRank',{
    action: 1, // 代表点击
    扩展1: '111',
    扩展2：'222',
    ......
});</code></pre></p>
                </div>
            </div>
        </div>
    </div>
</div>
