<div class="page">
    <div class="page__hd">
        <h1 class="page__title">北京click上报</h1>
        <p class="page__desc">用户每点击一次，会上报一次。</p>
        <p class="page__desc">当点击节点埋有ptag相关属性，会把属性值找出来上报，来统计该坑位被用户点击了多少次。</p>
        <p class="page__desc">监听点击事件绑定在body上面，从点击节点一直冒泡往父节点找，找到带有ptag属性的节点为止。为了解决iOS的点击延迟，以及不依赖zepto库，改写了Fastclick。</p>
    </div>
    <div class="page__bd">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">正确调用方式：</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <p class="weui-media-box__desc"><pre><code class="language-javascript">wa('jdClick',{
    ptag: '39696.3.3',
    // 缓存到下一页面上报，
    // 跳转场景使用
    // 涉及跨域的，本页面需在wqs或wq域名
    nextPageReport: true
});</code></pre></p>
                </div>
            </div>
        </div>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">需要升级替换接口1：</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <del>
                        <p class="weui-media-box__desc"><pre><code class="language-javascript">var report = require('report');
report.trace({
    ptag: '39696.3.3'
});</code></pre></p>
                    </del>
                </div>
            </div>
        </div>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">需要升级替换接口2：</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <del>
                        <p class="weui-media-box__desc"><pre><code class="language-javascript">JD.report.rd({ptag: '39696.3.3'})</code></pre></p>
                    </del>
                </div>
            </div>
        </div>
    </div>
    <div class="page__ft"></div>
</div>