<div class="page">
    <div class="page__hd">
        <h1 class="page__title">登录上海风控设备标识上报</h1>
        <p class="page__desc">适用场景：用户进行登录操作时。</p>
    </div>

    <div class="page__bd">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">正确调用方式：</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <p class="weui-media-box__desc"><pre><code class="language-javascript">wa('shDeviceId',{type:0})</code></pre></p>
                </div>
            </div>
        </div>
    </div>
    <div class="page__ft"></div>
</div>
