<div class="page">
    <div class="page__hd">
        <h1 class="page__title" style="text-align: center;">
            cookie等相关说明
        </h1>
        <p class="page__desc" style="text-align: center;">ptag跟单，访问次序，用户标识</p>
    </div>

    <div class="page__bd page__bd_spacing">
        <ul>
            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">ptag跟单</p>
                    <span class="icon_nav_form"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item" href="javascript:;">
                            <div class="weui-cell__bd">
                                PPRD_P,cookie有效期3天
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">访问次序</p>
                    <span class="icon_nav_nav"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item" href="javascript:;">
                            <div class="weui-cell__bd">
                                __wga,30分钟更新最后一段
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">用户标识</p>
                    <span class="icon_nav_form"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item" href="javascript:;">
                            <div class="weui-cell__bd">
                                京东用户：jdpin
                            </div>
                        </a>
                        <a class="weui-cell weui-cell_access js_item" href="javascript:;">
                            <div class="weui-cell__bd">
                                设备+用户标识：visitkey
                            </div>
                        </a>
                        <a class="weui-cell weui-cell_access js_item" href="javascript:;">
                            <div class="weui-cell__bd">
                                腾讯测用户标识：openid
                            </div>
                        </a>
                        <a class="weui-cell weui-cell_access js_item" href="javascript:;">
                            <div class="weui-cell__bd">
                                广告部用户跟单：__jda
                            </div>
                            <!--<div class="weui-cell__ft"></div>-->                        
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="page__ft"></div>
</div>
