<div class="page">
    <div class="page__hd">
        <h1 class="page__title">
            wa统计框架
        </h1>
        <p class="page__desc">wa为wq-analytics的简称。支持异步调用和模块化，将分散的API调用统一在wa下管理，不依赖zepto的点击，提取了FastClick的核心代码，gulp工程开发，eslint代码质量和风格检查，支持单元测试。options统一为业务测扩展参数，非必填，Object类型。自测：控制台敲API能看到请求。</p>
    </div>

    <div class="page__bd page__bd_spacing">
        <ul>
            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">pv和点击</p>
                    <span class="icon_nav_form"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item" data-id="pv" href="javascript:;">
                            <div class="weui-cell__bd">
                            
                                <p><pre><code class="language-javascript">wa('jdPv',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access js_item" data-id="click" href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('jdClick',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>

            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">腾讯pv和点击</p>
                    <span class="icon_nav_nav"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item" data-id="tencent_pv" href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('tencentPv',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access js_item" data-id="tencent_click" href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('tencentClick',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>

            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">搜索和店铺搜索</p>
                    <span class="icon_nav_form"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item"  data-id="search_goods" href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('goodsSearch',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access js_item"  data-id="search_shop" href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('shopSearch',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">猜你喜欢</p>
                    <span class="icon_nav_nav"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item"  data-id="guessyoulike" href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('guessyouLike',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">北京BI相关</p>
                    <span class="icon_nav_form"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item"  data-id="bi" href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('biRank',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">ptag曝光</p>
                    <span class="icon_nav_nav"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item"  data-id="ptagexposure" href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('ptagExposure',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">北京event埋点</p>
                    <span class="icon_nav_form"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item"  data-id="event" href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('eventClick',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">上海设备指纹</p>
                    <span class="icon_nav_nav"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item"  data-id="deviceid_login" href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('shDeviceId',{type:0})</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access js_item"  data-id="deviceid_coupon" href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('shDeviceId',
{
    type: 1,
    activeInfo: {
        active: active,
        level: level
    }
})</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="page__ft"></div>
</div>
