<div class="page">
    <div class="page__hd">
        <h1 class="page__title">
            wa
        </h1>
        <p class="page__desc">wa为wq-analytics的简称。支持异步调用和模块化，解决iOS的点击延迟问题，gulp工程开发，eslint代码质量和风格检查，支持单元测试。options统一为业务测扩展参数，非必填。</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <ul>
            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">pv和点击</p>
                    <span class="icon_nav_form"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item" data-id="pv" href="javascript:;">
                            <div class="weui-cell__bd">
                            
                                <p><pre><code class="language-javascript">wa('jdPv',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access js_item" data-id="click" href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('jdClick',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">腾讯pv和点击</p>
                    <span class="icon_nav_nav"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item" href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('tencentPv',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access js_item" href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('tencentClick',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">搜索和店铺搜索</p>
                    <span class="icon_nav_form"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item"  href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('goodsSearch',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access js_item"  href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('shopSearch',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">猜你喜欢</p>
                    <span class="icon_nav_nav"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item"  href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('guessyouLike',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">北京BI相关</p>
                    <span class="icon_nav_form"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item"  href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('biRank',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">ptag曝光</p>
                    <span class="icon_nav_nav"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item"  href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('ptagExposure',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">北京event埋点</p>
                    <span class="icon_nav_form"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item"  href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('eventClick',options)</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="weui-flex js_category">
                    <p class="weui-flex__item">上海设备指纹</p>
                    <span class="icon_nav_nav"></span>
                </div>
                <div class="page__category js_categoryInner">
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item"  href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('shDeviceId',{type:0})</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access js_item"  href="javascript:;">
                            <div class="weui-cell__bd">
                                <p><pre><code class="language-javascript">wa('shDeviceId',
{
    type: 1,
    activeInfo: {
        active: active,
        level: level
    }
})</code></pre></p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
$(function() {
    var winH = $(window).height();
    var categorySpace = 10;
    // 高亮代码行
    Prism.highlightAll();

    $('.js_item').on('click', function() {
        var id = $(this).data('id');
        window.pageManager.go(id);
    });
    $('.js_category').on('click', function() {
        var $this = $(this),
            $inner = $this.next('.js_categoryInner'),
            $page = $this.parents('.page'),
            $parent = $(this).parent('li');
        var innerH = $inner.data('height');
        bear = $page;

        if (!innerH) {
            $inner.css('height', 'auto');
            innerH = $inner.height();
            $inner.removeAttr('style');
            $inner.data('height', innerH);
        }

        if ($parent.hasClass('js_show')) {
            $parent.removeClass('js_show');
        } else {
            $parent.siblings().removeClass('js_show');

            $parent.addClass('js_show');
            if (this.offsetTop + this.offsetHeight + innerH > $page.scrollTop() + winH) {
                var scrollTop = this.offsetTop + this.offsetHeight + innerH - winH + categorySpace;

                if (scrollTop > this.offsetTop) {
                    scrollTop = this.offsetTop - categorySpace;
                }

                $page.scrollTop(scrollTop);
            }
        }
    });
});
</script>
