<div class="page">
    <div class="page__hd">
        <h1 class="page__title">ptag曝光</h1>
        <p class="page__desc">典型使用场景：用户下载京东APP时上报，类似需求的可采用该通道。</p>
    </div>

    <div class="page__bd">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">正确调用方式：</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <p class="weui-media-box__desc"><pre><code class="language-javascript">wa('ptagexposure',{
    ptag: '39696.3.3'
});</code></pre></p>
                </div>
            </div>
        </div>
    </div>

    <div class="page__ft"></div>
</div>
