<div class="page">
    <div class="page__hd">
        <h1 class="page__title">北京pv上报</h1>
        <p class="page__desc">页面的访问量，每打开一次上报一次，对用户去重后为页面uv。</p>
        <p class="page__desc">wa已在头部申明，挂在window对象下面。</p>
        <p class="page__desc">公共尾部会默认调用一次，对于业务自己上报的请头部配置<span style="color: red;">window.MANUAL_PV = true</span>先关闭默认上报,然后调用下面方法上报。</p>
    </div>

    <div class="page__bd">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">正确调用方式：</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <p class="weui-media-box__desc"><pre><code class="language-javascript">wa('jdPv',{
    vurl: '',
    ptag: '39696.3.3',
    扩展1: '333',
    扩展2：'444',
    ......
});</code></pre></p>
                </div>
            </div>
        </div>
        
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">需要升级替换接口1：</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <del>
                        <p class="weui-media-box__desc"><pre><code class="language-javascript">var report = require('report');
report.pvReport({
    vurl: '',
    ptag: '39696.3.3'
});</code></pre></p>
                    </del>
                </div>
            </div>
        </div>
        
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">需要升级替换接口2：</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <del>
                        <p class="weui-media-box__desc"><pre><code class="language-javascript">JD.report.pv({})</code></pre></p>
                    </del>
                </div>
            </div>
        </div>
    </div>
</div>
