<div class="page">
    <div class="page__hd">
        <h1 class="page__title">搜索关键词商品上报</h1>
        <p class="page__desc">使用场景：用户搜索商品或者关键词的时候上报相关信息</p>
    </div>

    <div class="page__bd">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">正确调用方式：</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <p class="weui-media-box__desc"><pre><code class="language-javascript">wa('goodsSearch',{
    keyword: '',
    扩展1: '111',
    扩展2：'222',
    ......
});</code></pre></p>
                </div>
            </div>
        </div>
    </div>
</div>
