<div class="page">
    <div class="page__hd">
        <h1 class="page__title">腾讯click</h1>
        <p class="page__desc">使用场景：只在商详，购物车，订单页等页面上报坑位ptag</p>
    </div>

    <div class="page__bd">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">正确调用方式：</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <p class="weui-media-box__desc"><pre><code class="language-javascript">wa('tencentClick',{
    ptag: '39696.3.3',
    // 缓存到下一页面上报
    // 跳转场景使用
    // nextPageReport: true
});</code></pre></p>
                </div>
            </div>
        </div>
    </div>
    <div class="page__ft"></div>
</div>